body{
  color: #293647;
}

.bg-fej {
  background-position: center;
  height: 400px;
  width: 800px;
}

.bg-fej h1{
  color: black;
  font-size: 250%;
  text-transform: uppercase;
  text-decoration: underline overline;
  font-weight: bold;
}
.bg-fej h3{
  color: black;
  text-transform: uppercase;
  text-decoration: underline overline;
  font-weight: bold;
}

.container{
  margin-bottom: 25px;
}

.bg-torzs {
  align-content: center;
}

h3{
  margin: 25px 0px;
}

a {
  font-style: italic;
  font-weight: bold;
  color: darkblue;
}

#szel, #mag{
  margin: 0px auto 15px;
}

#kalkGomb {
  margin: 20px auto;
}

#valasz{
  visibility:hidden;
}

#bal{
  background-color: #c5c599;
}
#holloko{
  width: 300px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px;
  border: black solid 1px;
  background-color: white;
}
#jobb{
  background-color: #c5c599;
  
}
#Main{
  width: 1000px;
}

#linkes{
  color: darkblue;
  font-size: 20px;
  font-weight: bold;
}
#ketagyas{
  width: 300px;
  display: block;
  padding: 5px;
  border: black solid 1px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.table1 {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.th1 {
  border: 1px solid #afaf87;
  text-align: left;
  padding: 8px;
  width: 50%;
  text-align: center;
}

.tr1:nth-child(even) {
  background-color: #a6a685;
}
#szobak{
  width: 90%;
  height: 50px;
}
